#chat-page {
  min-height: 100%;
}
#chat-page .before-login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(5, 5, 5, 0.6);
  text-align: center;
  display: block;
  padding-top: 200px;
}
#chat-page .before-login label.info {
  color: #fff;
}
#chat-page .before-login .user-action > div {
  padding: 0 10%;
}
#chat-page .before-login .user-action > div .form-control {
  margin-bottom: 15px;
}
#chat-page .container .users-list {
  background: #fbf8f8;
  padding: 0;
  border: 1px solid #efefef;
  height: 540px;
  overflow-y: scroll;
}
#chat-page .container .users-list ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
#chat-page .container .users-list ul li {
  padding: 10px 0;
}
#chat-page .container .users-list ul li .avatar {
  text-align: center;
  padding: 0;
}
#chat-page .container .users-list ul li .avatar img {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
#chat-page .container .users-list ul li .infos {
  position: relative;
  padding: 0;
}
#chat-page .container .users-list ul li .infos .username {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#chat-page .container .users-list ul li .infos .latest {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#chat-page .container .users-list ul li .infos .counts {
  position: absolute;
  display: none;
  right: 15px;
  top: 5px;
  width: 26px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  background: #8CD3EF;
  color: #fff;
  font-size: 12px;
}
#chat-page .container .users-list ul li:hover,
#chat-page .container .users-list ul li.active {
  background: #eee;
  cursor: pointer;
}
#chat-page .container .chat-board {
  border: 1px solid #efefef;
}
#chat-page .container .chat-board .chat-header {
  height: 39px;
  line-height: 39px;
  border-bottom: 1px solid #eee;
}
#chat-page .container .msgs-board {
  height: 363px;
}
#chat-page .container .msgs-board ul {
  list-style: none;
  background-color: #fff;
  padding: 2px;
}
#chat-page .container .msgs-board ul li {
  margin-bottom: 15px;
}
#chat-page .container .msgs-board ul li .time {
  margin: 7px 0;
  text-align: center;
}
#chat-page .container .msgs-board ul li .time > span {
  display: inline-block;
  padding: 0 18px;
  font-size: 9pt;
  color: #fff;
  border-radius: 2px;
  background-color: #dcdcdc;
}
#chat-page .container .msgs-board ul li .message-body .avatar {
  float: left;
  margin: 0 10px 0 0;
  border-radius: 3px;
  width: 40px;
  height: 40px;
}
#chat-page .container .msgs-board ul li .message-body .username {
  color: #666;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
#chat-page .container .msgs-board ul li .message-body .text {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  max-width: -webkit-calc(60%);
  max-width: calc(60%);
  min-height: 30px;
  line-height: 20px;
  font-size: 14px;
  text-align: left;
  word-break: break-all;
  background-color: #fafafa;
  border-radius: 4px;
  border: transparent;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#chat-page .container .msgs-board ul li .message-body .text:before {
  content: " ";
  position: absolute;
  top: 9px;
  right: 100%;
  border: 6px solid transparent;
  border-right-color: #fafafa;
}
#chat-page .container .msgs-board ul li .message-body button.text {
  width: 120px;
}
#chat-page .container .msgs-board ul li .message-body .new:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  top: 12px;
  border: 3px solid red;
  border-radius: 50%;
}
#chat-page .container .msgs-board ul li .message-body button.text:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}
#chat-page .container .msgs-board ul li .self {
  text-align: right;
}
#chat-page .container .msgs-board ul li .self .avatar {
  float: right;
  margin: 0 0 0 10px;
}
#chat-page .container .msgs-board ul li .self .text {
  background-color: #b2e281;
}
#chat-page .container .msgs-board ul li .self .text:before {
  right: inherit;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #b2e281;
}
#chat-page .container .msgs-board ul li .system {
  text-align: center;
}
#chat-page .container .msgs-board ul li .system .text {
  background-color: #dcdcdc;
  color: #fff;
  min-height: 26px;
  max-width: 80%;
}
#chat-page .container .msgs-board ul li .system .text:before {
  border: transparent;
}
#chat-page .container .msgs-board ul img {
  max-width: 100px;
  display: block;
}
#chat-page .container .msgs-board ul img.emoji {
  max-width: 100%;
  display: inline-block;
}
#chat-page .container .msgs-board ul .timespan {
  color: #ddd;
}
#chat-page .container .msgs-board ul .emoji {
  display: inline;
}
#chat-page .container .msgs-board .hiden {
  display: none;
}
#chat-page .container .msgs-board .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
  right: -20px;
}
#chat-page .container .send-board {
  position: relative;
  border-top: 1px solid #eee;
}
#chat-page .container .send-board .operations {
  height: 40px;
  padding: 5px 0;
}
#chat-page .container .send-board .operations .btn {
  padding: 3px 10px;
}
#chat-page .container .send-board .operations .image-lable {
  position: relative;
}
#chat-page .container .send-board .operations .image-lable input[name=image] {
  position: absolute;
  width: 52px;
  left: 0;
  top: 0;
  opacity: 0;
  overflow: hidden;
}
#chat-page .container .send-board .message {
  width: 100%;
  height: 90px;
  max-height: 90px;
  display: inline-block;
}
#chat-page .container .send-board .message .pre-img,
#chat-page .container .send-board .message img {
  max-width: 80px;
}
#chat-page .container .send-board textarea.message {
  display: none;
}
#chat-page .container .send-board div.message {
  border: 1px solid #4a9eff;
  padding: 10px;
  font-size: 14px;
  background: #fff;
  font-family: Helvetica, arial, sans-serif;
  font-weight: normal;
  border-radius: 3px;
  overflow-y: scroll;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#chat-page .container .send-board .btn.btn-info {
  position: absolute;
  right: 40px;
  bottom: 10px;
  padding: 4px 12px;
}
#chat-page .container .send-board .toast-board {
  position: absolute;
  right: 25px;
  bottom: 50px;
}
#chat-page .container .emoji-board {
  display: none;
  width: 400px;
  max-width: 100%;
  bottom: 40px;
  left: 0;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #555;
          box-shadow: 0 0 10px #555;
}
#chat-page .container .emoji-board .emoji-body .item {
  display: none;
}
#chat-page .container .emoji-board .emoji-body .item-0 {
  display: block;
}
#chat-page .container .emoji-board .emoji-body img {
  margin: 2px;
  padding: 2px;
  width: 25px;
  height: 25px;
}
#chat-page .container .emoji-board .emoji-body img:hover {
  background-color: blue;
}
#chat-page .container .emoji-board .emoji-tabs {
  background: #aaa;
}
#chat-page .container .emoji-board .emoji-tabs span {
  padding: 5px 10px;
  line-height: 20px;
  cursor: pointer;
}
#chat-page .container .emoji-board .emoji-tabs span.active {
  background: #fff;
}
#chat-page .container .toast-board {
  display: none;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  z-index: 999;
  border: 1px solid #ccc;
  padding: 2px 12px;
  border-radius: 3px;
}
